<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
	default-autowire="byName">
	

	<!-- 将配置属性配置文件位置放到列表中 -->  
    <bean id="configResources" class="java.util.ArrayList">  
        <constructor-arg>  
        <list>  
          	 <value>classpath*:config.properties</value>
        </list>  
        </constructor-arg>  
    </bean>  
	 <!-- 用Spring加载和管理配置属性配置文件 -->  
    <bean id="configPropertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="order" value="2" />  
        <property name="ignoreUnresolvablePlaceholders" value="true" />   
        <property name="locations" ref="configResources" />  
    </bean>  
	
     <!-- redis client集群配置 -->
    <bean id="jedisCluster" class="com.qingofun.redis.NSJedisCluster" scope="singleton" init-method="init">
    	<property name="maxRedirections" value="${redis.maxRedirections}"/>
    	<property name="timeout" value="${redis.timeout}"/>
    	<property name="poolMaxTotal" value="${redis.pool.maxTotal}"/>
    	<property name="poolMaxIdle" value="${redis.pool.maxIdle}"/>
    	<property name="poolMinIdle" value="${redis.pool.minIdle}"/>
    	<property name="jedisClusterNode">
    		<list>
    			<map>
    				<entry key="host" value="${redis.host1}"></entry>
    				<entry key="port" value="${redis.port1}"></entry>
    			</map>
    			<map>
    				<entry key="host" value="${redis.host2}"></entry>
    				<entry key="port" value="${redis.port2}"></entry>
    			</map>
    			<map>
    				<entry key="host" value="${redis.host3}"></entry>
    				<entry key="port" value="${redis.port3}"></entry>
    			</map>
    			<map>
    				<entry key="host" value="${redis.host4}"></entry>
    				<entry key="port" value="${redis.port4}"></entry>
    			</map>
    			<map>
    				<entry key="host" value="${redis.host5}"></entry>
    				<entry key="port" value="${redis.port5}"></entry>
    			</map>
    			<map>
    				<entry key="host" value="${redis.host6}"></entry>
    				<entry key="port" value="${redis.port6}"></entry>
    			</map>
    		</list>
    	</property>
    </bean>
    
</beans>